<!-- app/views/ceramic_pieces/_form.html.erb -->
<div class="container mt-5">

  <%= form_with(model: ceramic_piece, url: form_ceramic_piece_path, local: true) do |form| %>

    <div class="mb-3">
      <%= form.label :height, 'Height:' %>
      <%= form.text_field :height, placeholder: 'cm' %>
    </div>

    <div class="mb-3">
      <%= form.label :width, 'Width:' %>
      <%= form.text_field :width, placeholder: 'cm' %>
    </div>

    <div class="mb-3">
      <%= form.label :thickness, 'Thickness:' %>
      <%= form.text_field :thickness, placeholder: 'cm' %>
    </div>

    <div class="mb-3">
      <%= form.label :clay_cost, 'Clay Cost:' %>
      <%= form.text_field :clay_cost, placeholder: 'R$' %>
    </div>

    <div class="mb-3">
      <%= form.label :nail_polish_cost, 'Nail Polish Cost:' %>
      <%= form.text_field :nail_polish_cost, placeholder: 'R$' %>
    </div>

    <div class="mb-3">
      <%= form.label :electricity_cost, 'Electricity Cost:' %>
      <%= form.text_field :electricity_cost, placeholder: 'R$' %>
    </div>

    <div class="mb-3">
      <%= form.label :burn_duration, 'Burn Duration:' %>
      <%= form.text_field :burn_duration, placeholder: 'hours' %>
    </div>

    <div class="mb-3">
      <%= form.label :oven_power, 'Oven Power:' %>
      <%= form.text_field :oven_power, placeholder: 'kW' %>
    </div>

    <div class="mb-3">
      <%= form.label :maintenance_cost, 'Maintenance Cost:' %>
      <%= form.text_field :maintenance_cost, placeholder: 'R$' %>
    </div>

    <div class="mb-3">
      <%= form.label :labor_cost, 'Labor Cost:' %>
      <%= form.text_field :labor_cost, placeholder: 'R$' %>
    </div>

    <div class="mb-3">
      <%= form.submit "Calculate Cost" %>
    </div>
  <% end %>
</div>
